@import "tailwindcss";

@theme {
    --color-gricesito: #F5F5F5;
    --color-gris: #D9D9D9;
    --color-letra: #eeeeee;
    --color-azul-oscuro: #004D40;
    --color-verde-oscuro: #2E7D32;
    --color-verde-lima: #AED581;
    --color-gris-oscuro: #212121;
}